<main>
  {{#if verifyLink}}
    <p>Verification Link: <a href="{{verifyLink}}">{{verifyLink}}</a></p>
  {{else}}
    <p>
      Your verification code is:<br>
      <div style="margin-top: 1em; margin-bottom: 1em;"><b>{{code}}</b></div><br>
      This code will expire at {{ formatDate expiresAt format="ttt" }}.
    </p>
  {{/if}}
  <p>{{reason}}</p>
</main>
