{{#if (isControlAndHasScope element) }}
    <div class="grid-item">
        <strong>
            {{ label element }}{{#if (isRequiredField requiredFields element )}}
            *
            {{/if}}
            :
        </strong>
        {{ value element data }}
    </div>
{{else if (isListWithDetailAndHasScope element) }}
    <div class="header">
        <strong>{{ scopeName element.scope}}</strong>
    </div>
    {{#firstDetail element.options.detail.elements data requiredFields element.scope }}
        {{#withEachData params.data params.requiredFields this}}
            <div class="list-item">
              {{> elements element=params.element data=this requiredFields=params.requiredFields styles=styles }}
            </div>
        {{/withEachData}}
    {{/firstDetail}}
{{else if (hasElements element) }}
    {{#withEach element.elements data requiredFields }}
        {{> elements element=this data=params.data requiredFields=params.requiredFields styles=styles }}
    {{/withEach}}
{{/if}}
